@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  scroll-behavior: smooth;
}

body {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.app-cont {
  display: inline-flex;
  background-color: white;
  padding: 30px;
  gap: 50px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 25%);
}

#app {
  background-color: red;
  text-align: center;
}

#app-RL {
  background-color: green;
  text-align: center;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
}

#birthdate1,
#birthdate2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .app-cont {
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .app-cont {
    padding: 20px;
  }

  input {
    font-size: 16px;
  }

  #birthdate1,
  #birthdate2 {
    font-size: 16px;
  }
}